[Unit]
Description=Publish %I as alias for %H via mdns

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/avahi-publish -a -R %I $(avahi-resolve -4 -n %H | cut -f 2)"

[Install]
WantedBy=multi-user.target